# Compiled binary files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary files created with `go test -c`
*.test

# Code coverage tool output
*.out

# Dependency files
vendor/

# Go module files
go.sum

# Go workspace files
go.work
go.work.sum

# Backup editor files
*~

# IDE/Editor files and directories
.idea/
.vscode/
*.swp

# macOS files
.DS_Store

# Logs and temporary files
*.log
*.tmp
logs/