# Скомпилированные бинарные файлы
*.exe
*.exe~
*.dll
*.so
*.dylib

# Тестовые бинарные файлы, созданные с помощью `go test -c`
*.test

# Вывод инструмента покрытия кода
*.out

# Файлы зависимостей
vendor/

# Файлы модуля Go
go.sum

# Файлы рабочей области Go
go.work
go.work.sum

# Резервные файлы редактора
*~

# Файлы и каталоги IDE/редакторов
.idea/
.vscode/
*.swp

# Файлы macOS
.DS_Store

# Логи и временные файлы
*.log
*.tmp
